
<div class="center jumbotron">
	<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%#= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%#= render 'shared/feed' %>
    </div>
  </div>
  <% else %>
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:900italic' rel='stylesheet' type='text/css'><h1>Game! Set! Play!</h1>
		<h2>
			Welcome to GameSetPlay!!
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

		<%= link_to "Log In!", login_path, class: "btn btn-lg btn-primary" %>
   <% end %>
</div>

<%= link_to image_tag("Tennis Court.JPG", alt: "Tennis Court", :size => "120x90"),
            'http://tennis.com/' %>
