
<div class="center jumbotron">

<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:900italic' rel='stylesheet' type='text/css'><h1>Game! Set! Play!</h1>
<h2>
	Welcome to GameSetPlay!!
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

<%= link_to "Log In!", login_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("Tennis Court.JPG", alt: "Tennis Court", :size => "120x90"),
            'http://tennis.com/' %>
