<div class="center jumbotron">

<h1>GameSetPlay</h1>
<h2>
	Welcome to GameSetPlay!!
</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("Tennis Court.JPG", alt: "Tennis Court", :size => "120x90"),
            'http://tennis.com/' %>
