<% provide(:title, "Open Matches") %>

<div class="jumbotron">

  <h1>Open Matches</h1>
  <%#<div class = "row">
    <div class="col-md-5 pull-left">
      <h2> Singles Matches </h2>
      <ol class="matches">
          <%= render @singlesMatches %> <%#
      </ol>
      <%= will_paginate @singlesMatches %> <%#
    </div> %>

    <div class="center">
    <%#<h2> Doubles Matches </h2> %>
      <ol class="matches">
          <%= render @matches %>
      </ol>
      <%= will_paginate @matches %>
    </div>

  </div>

</div>
