<footer class="footer">
  <small>
    Zack Falgout </br>
    Master's Project</br>
    GameSetPlay.com</br>
    Project Chair: Dr. Susan Mengel
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://tennis.com">News</a></li>
    </ul>
  </nav>
    <div class = "center">
    <%= link_to image_tag("Tennis Court.JPG", alt: "Tennis Court", :size => "120x90"),
              'http://tennis.com/' %>
    </div>
</footer>